.menu {
  display: flex;
  gap: 2px;
}

.menu button {
  cursor: pointer;
}

.isActive {
  background: rgb(65, 65, 65);
  color: white;
}

.title,
.desc {
  font-family: inherit;
  width: 100%;
  display: block;
  padding: 8px;
  font-size: 1rem;
  background: black;
  color: white;
  margin: 8px;
}

.title {
  font-size: 3rem;
}

.desc {
  resize: vertical;
}

.buttons {
  display: flex;
  gap: 16px;
  padding-top: 16px;
}

.buttons button {
  color: white;
  padding: 8px;
  border-radius: 50%;
  transition-duration: 0.2s;
}

.buttons button:hover {
  cursor: pointer;
  scale: 1.2;
}

.buttons svg {
  width: 32px;
  height: 32px;
}

.save {
  background: blue;
}

.cancel {
  background: red;
}