.menu {
  display: flex;
  gap: 2px;
}

.menu button {
  cursor: pointer;
}

.isActive {
  background: rgb(65, 65, 65);
  color: white;
}

.title,
.desc {
  font-family: inherit;
  width: 100%;
  display: block;
  padding: 8px;
  font-size: 1rem;
  background: black;
  color: white;
  margin: 8px;
}

.title {
  font-size: 3rem;
}

.desc {
  resize: vertical;
}