:root {
  --main-width: 80rem;

  --darktheme-bg: rgb(0, 0, 0);
  --darktheme-bd: rgb(32, 32, 32);
  --darktheme-c: rgb(237, 237, 237);

  --code-bg: #1e1e1e;
  --code-c: #d4d4d4;

  --card-bg: linear-gradient(
    rgba(0, 0, 0, 0.95) 0px,
    rgba(0, 0, 0, 1)
  );
}

/* Globals */
*, :after, :before {
  box-sizing: border-box;
  border: 0;
  margin: 0;
  padding: 0;
}
html {
  font-size: 16px;
}
body {
  background: var(--darktheme-bg);
  color: var(--darktheme-c);
}

/* Headings */
h1 {
  font-size: 3rem;
  margin-bottom: 1.5rem;
}
h2, h3, h4, h5, h6 {
  font-size: 2rem;
  margin: 1.5rem 0;
}
h2:before {
  content: '';
  height: 1.25rem;
  display: block;
  border-top: 1px solid var(--darktheme-bd);
}

/* Common */
p {
  margin: 1.25rem 0;
  line-height: 1.75rem;
}
ol, ul {
  padding-left: 1.5rem;
}
li, li > *{
  margin: 0.5rem 0;
  line-height: 1rem;
}

/* Code */
pre:has(code), :not(pre) > code {
  color: var(--code-c);
  background: var(--code-bg);
}
pre:has(code) {
  max-width: 100%;
  overflow-x: auto;
  border-radius: 0.5rem;
  padding: 1rem;
}
:not(pre) > code {
  border-radius: 0.25rem;
  padding: 0.25rem;
}

/* Classes */
.main {
  width: var(--main-width);
  max-width: 100%;
  margin: 0 auto;
}

.card {
  background: var(--card-bg);
  border: 2px solid var(--darktheme-bd);
  border-radius: 0.5rem;
  padding: 0.75rem;
}