:root {
  --main-width: 80rem;
}

/* Globals */
*, :after, :before {
  box-sizing: border-box;
  border: 0;
  margin: 0;
  padding: 0;
}
html {
  font-size: 16px;
}
body {
  background-color: rgb(0, 0, 0);
  color: rgb(237, 237, 237);
}

/* Headings */
h1 {
  font-size: 3rem;
  margin-bottom: 2rem;
}
h2, h3, h4, h5, h6 {
  font-size: 2rem;
  margin: 1.5rem 0;
}

/* Common */
p {
  margin: 1.25rem 0;
  line-height: 1.75rem;
}
ol, ul {
  padding-left: 1.5rem;
}
li, li > *{
  margin: 0.5rem 0;
  line-height: 1rem;
}

/* Code */
pre:has(code) {
  background-color: #1e1e1e;
  max-width: 100%;
  overflow-x: auto;
  border-radius: 0.5rem;
  padding: 1rem;
}
:not(pre) > code {
  background-color: #303030;
  border-radius: 0.25rem;
  padding: 0.25rem;
}

/* Classes */
.main {
  width: var(--main-width);
  max-width: 100%;
  margin: 0 auto;
}

.card {
  background: linear-gradient(
    40deg, 
    rgba(4, 4, 4, 0.95) 80%, 
    rgba(20, 20, 20, 0.95)
  );
  border: 2px solid rgb(20, 20, 20);
  border-radius: 10px;
  padding: 12px;
}