.main {
  --right-width: 60%;
}
.main h1, .main h2, .main h3 {
  margin: 0;
  font-size: 1.5rem;
  line-height: 2.25rem;
}
.main h2:before {
  content: none;
}
.main p {
  margin: 0;
}
.main section {
  margin: 32px 16px;
  padding-left: 32px;
  padding-right: 32px;
}
.textContainer {
  width: calc(100% - var(--right-width));
}

/* Intro Section */
.intro {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.intro span {
  display: block;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 2.75rem;
  color: rgb(0, 108, 197);
}
.socials {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 1.25rem;
  padding: 1.5rem 0;
}
.icon a {
  display: block;
  color: var(--darktheme-c);
  font-size: 2rem;
  padding: 4px;
  transition-duration: 0.2s;
  opacity: 0.5;
}
.icon a:hover {
  opacity: 1;
}
.profileContainer {
  width: var(--right-width);
  display: flex;
  justify-content: center;
}
.profilepic {
  max-width: 100%;
  height: auto;
  background: linear-gradient(rgb(0, 108, 197), rgb(0, 0, 0));
  border-radius: 50%;
}

/* Techstack Section */
.techstack {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.toolList {
  width: var(--right-width);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 4px;
}
.tool {
  background: radial-gradient(rgb(20, 20, 20), black);
  border: 2px solid var(--darktheme-bd);
  border-radius: 8px;
  width: 100px;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.toolLogo {
  font-size: 2.5rem;
}

/* Projects Section */
.projects h2{
  padding-bottom: 1.5rem;
}
.projectList {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.projectCard {
  background: rgb(3, 3, 3);
  border-radius: 8px;
  padding: 8px;
  display: flex;
}
.projectDesc {
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.projectLinks {
  display: flex;
  gap: 16px;
}
.projectImage {
  flex-shrink: 0;
  width: calc(1920px / 4);
  height: calc(1080px / 4);
  background: rgb(16, 16, 16);
}

/* Blogposts Section */
.blogposts {

}

/* Contact Section */
.contact {

}

@media (max-width: 860px) {
  .main {
    --right-width: 100%;
  }
  .intro, .main h2 {
    text-align: center;
  }
  .textContainer {
    width: 100%;
  }
  .intro {
    flex-direction: column;
  }
  .socials { 
    justify-content: center;
  }
  .techstack {
    flex-direction: column;
  }
  .toolList {
    padding-top: 1.5rem;
  }
  .projectCard {
    flex-direction: column;
    align-items: center;
  }
  .projectImage {
    max-width: 100%;
  }
}