.user {
  display: flex;
  align-items: center;
  gap: 8px;
}

.profilepic {
  background: var(--darktheme-bd);
  border-radius: 50%;
}

.blogPostList {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.blogPost {
  background: rgb(8, 8, 8);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 20px;
  border-radius: 8px;
}

.blogPost p {
  margin: 0;
}

.date {
  color: rgb(117, 117, 117);
}

.buttons {
  display: flex;
  gap: 12px;
}

.buttons button {
  cursor: pointer;
  background: black;
  color: white;
  height: 44px;
  width: 44px;
}

.buttons .delete {
  background: red;
}